/* styles for medium devices (optional) */
/* @media screen and (min-width: 600px) and (max-width: 992px) {
    #
} */

/* styles for mobile devices */
@media screen and (max-width: 600px) {

    /* header nav */

    /* main starts */

    /* < !-- our popular tours starts --> */
    .popular-tours-container {
        padding: 10px;
        flex-direction: column;
    }

    .ptour-txt-box {
        font-size: 14px;
        line-height: 24px;
    }

    .ptour-txt-box h2 {
        font-size: 20px;
    }

    .read-more-btn {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .ptours-img img {
        border-radius: 16px;
        /* width: 540px; */
        /* height: 550px; */
        width: 100%;
    }


    /* < !-- choose your destination starts --> */
    /* < !-- why choose us starts --> */
    /* < !-- 2 optional sections: deals & discounts, simple perfect place --> */
    /* < !-- newsletter starts --> */

    /* main ends */

    /* unique section starts */



    /* footer */

    .footer-container {
        padding-top: 33px;
        padding-bottom: 31px;
        padding-left: 44px;
        padding-right: 44px;
    }

    .footer-tile {}

    .footer-h3 {
        /* display: flex; */
        /* flex-direction: column; */
        align-items: center;
    }

    .footer-sitename {
        font-size: 22px;
        line-height: 0%;
    }

    .footer-description p {
        margin-top: 16px;
        font-size: 14px;
    }

    .social-icons {
        margin-top: 16px;
        margin-bottom: 24px;
        font-size: 24px;
        /* padding: 0px 100px; */
    }

    .social-icons i {
        padding-left: 12px;
        padding-right: 12px;
    }

    hr {
        border: 0.5px solid darkgray;
        margin: none;
        padding: none;
        max-width: 872px;
    }

    .copyright {
        margin-top: 24px;
        margin-bottom: 31px;
        margin-left: 104px;
        margin-right: 104px;
    }

    .copyright p {
        font-size: 1rem;
    }

}