/* styles for medium devices (optional) */
/* @media screen and (min-width: 600px) and (max-width: 992px) {
    #
} */

/* styles for mobile devices */
@media screen and (max-width: 600px) {

    body {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* header nav */
    .header-container {
        margin-top: 20px;
    }

    .logo-menu-container {
        flex-direction: column;
    }

    .logo-name {
        flex-direction: row;
    }

    .logo img {}

    .sitename {}

    .sitename h1 {
        font-size: 22px;
        line-height: 20px;
        font-weight: 800;
    }

    .top-menu {
        line-height: 0;
    }

    .top-menu ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* header banner */
    .header-banner {
        /* height: 500px; */
        background-image: url('../img/Group\ 13\ \(1\)\ \(1\).png');
        border-radius: 16px;
    }

    .header-banner img {
        width: 100%;

    }

    .header-banner-content {
        background: linear-gradient(180deg, #070211, transparent);
        border-radius: 16px;
        color: #FFF;
        text-align: center;
        padding-top: 32px;
        padding-bottom: 0px;
    }

    .header-banner-content h2 {
        font-size: 22px;
font-style: normal;
font-weight: 800;
line-height: normal;
    }

    .header-banner-content p {
        font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
        padding: 15px;
    }

    .selectors-wrap {
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        padding-top: 24px;
        background-color: rgba(255, 255, 255, 0.30);
        /* max-width: 800px; */
        margin-bottom: 32px;
    }

    .xp-btn {
        /* background-color: #fff;
        color: rgba(19, 19, 24, 0.50);
        ;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        border-radius: 8px; */
        width: 255px;
        height: 52px;
        font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }

    .find-now-btn {
        /* background-color: var(--primary-color);
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        border: none;
        border-radius: 8px; */
        width: 255px;
        height: 52px;
        font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }



    /* main starts */

    /* < !-- our popular tours starts --> */
    .popular-tours-container {
        margin-top: 24px;
        padding: 10px;
        flex-direction: column;
    }

    .ptour-txt-box {
        font-size: 14px;
        line-height: 24px;
    }

    .ptour-txt-box h2 {
        font-size: 20px;
    }

    .read-more-btn {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .ptours-img img {
        border-radius: 16px;
        /* width: 540px; */
        /* height: 550px; */
        width: 100%;
    }


    /* < !-- choose your destination starts --> */
    /* < !-- why choose us starts --> */
    /* < !-- 2 optional sections: deals & discounts, simple perfect place --> */
    /* < !-- newsletter starts --> */

    /* main ends */

    /* unique section starts */
    .blog {
        margin-top: 24px;
    }


    /* footer */
    .footer {
        margin-top: 24px;
    }

    .footer-container {
        padding-top: 33px;
        padding-bottom: 31px;
        padding-left: 44px;
        padding-right: 44px;
    }

    .footer-tile {}

    .footer-h3 {
        /* display: flex; */
        /* flex-direction: column; */
        align-items: center;
    }

    .footer-sitename {
        font-size: 22px;
        line-height: 0%;
    }

    .footer-description p {
        margin-top: 16px;
        font-size: 14px;
    }

    .social-icons {
        margin-top: 16px;
        margin-bottom: 24px;
        font-size: 24px;
        /* padding: 0px 100px; */
    }

    .social-icons i {
        padding-left: 12px;
        padding-right: 12px;
    }

    hr {
        border: 0.5px solid darkgray;
        margin: none;
        padding: none;
        max-width: 872px;
    }

    .copyright {
        margin-top: 24px;
        margin-bottom: 31px;
        margin-left: 104px;
        margin-right: 104px;
    }

    .copyright p {
        font-size: 1rem;
    }

}